#page
  .page-intro
    .container
      .nine.columns
        h2(translate) Sobre o projeto
        p(translate) Rede Código Urbano é uma iniciativa de monitoramento ambiental em tempo-real que utiliza equipamentos para realizar a leitura de parâmetros que ajudam a indicar a qualidade da água e do ar, bem como um site onde os dados são armazenados e apresentados.
  .container
    .six.columns.offset-by-three

      p(translate) O projeto foi desenvolvido em uma residência no Red Bull Basement (São Paulo), quando foram instalados equipamentos na Ocupação do Ouvidor e no Red Bull Station. A intenção é comparar as leituras realizadas nos dois locais.

      p(translate) Uma versão adaptada do DustDuino é utilizada para monitoramento de material particulado de até 2,5 e de até 10 micrômetros no ar.

      p(translate) Para monitoramento da água é usado o Mãe d'Água, que coleta dados sobre condutividade elétrica, pH, ORP e temperatura da água, além da pressão barométrica e temperatura do equipamento.

      p(translate) Os dados coletados são apresentados na forma de gráficos históricos no site do projeto.