#page
  .page-intro
    .container
      .nine.columns
        h2(translate) Equipamentos utilizados
        p(translate) O projeto Rede Código Urbano utiliza o DustDuino para monitoramento de parâmetros de qualidade do ar, e o Mãe d'Água para parâmetros da água.
        p(translate) Para o projeto, foi desenvolvida uma versão do DustDuino capaz de enviar dados via rede de telefonia móvel (cujo código fonte está disponível no GitHub) e foram realizadas configurações específicas no Mãe d'Água.

  .page-section#dustduino
    .container
      .nine.columns
        h1(translate) DustDuino
        p(translate) DustDuino é um kit de monitoramento do ar baseado em 2 componentes primários, o sensor de partículas da Grove e a placa DustDuino. Além desses dois componentes, o kit do DustDuino vem com um shield SD, um cabo micro-USB, e um case de acrílico cortado a laser.

    .container
      .nine.columns
        p(translate) A placa DustDuino é derivada do Arduino, focando em criar projetos de monitoramento do ar com baixa energia e customizáveis. A placa DustDuino permite uma ampla variedade de configurações de fontes de energia, conectividade e sensores. Ele pode ser programado com bibliotecas de Arduino e é compatível com shields de Arduino. Desenvolvedores do DustDuino são encorajados a compartilhar suas melhorias no [[wiki do Public Lab]] ou no [[repositório do DustDuino no GitHub]].

    .container
      .nine.columns
        p(translate) O DustDuino foi desenvolvido, apoiado e ampliado uma multitude de instituições e pessoas que trabalharam juntas para ajudar a mudar a maneira que nós compreendemos e comunicamos sobre o ar que respiramos. DustDuino não seria possível sem a colaboração da Earth Jornalism Network, Development Seed, Código Urbano, GroundTruth, FrontlineSMS, Makerspace Urbana, Press Institute of Mongolia, e Public Lab.

    .container
      .three.columns
        h2(translate) Aspectos técnicos
      .six.columns
        ul
          li(translate)
            strong Parâmetros monitorados: 
            | material particulado de até 2,5 e de até 10 micrômetros.
          li(translate)
            strong Aplicação: 
            | o equipamento pode ser instalado tanto em ambientes internos quanto externos.
          li(translate)
            strong Comunicação: 
            | Existem versões diferentes do hardware, com envio dos dados via wi-fi, porta serial e envio via rede de telefonia celular, além da ossibilidade de armazenamento em cartão de memória.

    .container
      .three.columns 
        h2(translate) Especificações e peças
      .six.columns
        p(translate) A seção a seguir mostr o que está incluso no kit do DustDuino que será futuramente vendido no SeeedStudio. É possível criar uma versão com Arduino Uno, seguindo 
          a(href="http://geojournalism.org/2014/04/dustduino-arduino-uno-edition/"  rel="external" target="_blank") este
          |  tutorial.

        p(translate) Especificação da placa DustDuino:
        ul
          li(translate) 1 ATmega328P
          li(translate) 2 conectores JST
          li(translate) 1 conector micro USB
          li(translate) 1 módulo compatível com Xbee
          li(translate) 2 conectores Seeed Grove

  .page-section#maedagua
    .container
      .nine.columns
        h1(translate) Mãe D'Água
        p(translate) O projeto Rede InfoAmazonia desenvolveu um hardware livre de monitoramento de qualidade da água em tempo real, que foi batizado como “Mãe d'Água". Inspirado no 
          a(href="http://publiclab.org/wiki/riffle" rel="external" target="_blank") Riffle
          | , o dispositivo é resultado da colaboração da equipe do projeto com a rede norte-americana de ciência cidadã 
          a(href="http://publiclab.org/" rel="external" target="_blank") Public Lab 
          | e a start-up 
          a(href="http://devtecnologia.com.br/sobre/quem-somos/" rel="external" target="_blank") Dev Tecnologia
          | , empresa incubada na Universidade de São Paulo.
        p(translate) O Mãe d´Água é capaz de realizar leitura parâmetros físico-químicos importantes que ajudam a identificar potencial de contaminação da água.

      //- p
      //-   a.button(href="#" translate) Baixar manual

    .container
      .three.columns
        h2(translate) Aspectos técnicos
      .six.columns
        ul
          li(translate)
            strong Parâmetros monitorados: 
            | condutividade elétrica, pH, potencial de oxidação/redução (ORP), temperatura, pressão barométrica e temperatura do equipamento.
          li(translate)
            strong Aplicação: 
            | o equipamento pode ser utilizado para monitoramento da qualidade da água em caixas d´água, cisternas, reservatórios, corpos de água superficial com baixa vazão.
          li(translate)
            strong Comunicação: 
            | A coleta de dados é feita automaticamente a cada hora, e as leituras são enviadas em tempo real via rede de telefonia móvel para um servidor.
          
    .container
      .three.columns 
        h2(translate) Desenvolvimento
      .six.columns
        p(translate) Os 
          a(href="https://github.com/InfoAmazonia/rede-hardware" rel="external" target="_blank") arquivos necessários para produção do equipamento
          | , bem como seu 
          a(href="https://github.com/InfoAmazonia/rede-firmware" rel="external" target="_blank") firmware
          |, estão disponíveis em licença MIT. O hardware é modular:
        ul
          li(translate) 
            strong Módulo 1: 
            | composto por um Arduino Mega, responsável por todo o processamento das informações capturadas pelos sensores e pela alimentação de energia do conjunto (conectado a uma fonte externa).
          li(translate)
            strong Módulo 2: 
            | um shield para Arduino que possui o sensor de pressão barométrica e conectores para acoplamento dos sensores de pH, ORP, condutividade e temperatura da água. Desta forma modular, é possível selecionar os sensores a serem utilizados visando o custo benefício da aplicação específica desejada.
          li(translate)
            strong Módulo 3: 
            | responsável pela comunicação via rede de telefonia celular, capaz de transmitir os dados por Internet para um servidor.
