header#masthead.row
	.container
		.four.columns
			h1 
				a(ui-sref='home' translate)
					span Rede
					| Código Urbano
		.eight.columns
			nav#mastnav
				ul
					li
						a(ui-sref="about" translate) Projeto
					li
						a(ui-sref="monitoring" translate) Monitoramento
						ul
							li
								a(ui-sref="monitoring({'#': 'ar'})" translate) Ar
							li
								a(ui-sref="monitoring({'#': 'agua'})" translate) Água
					li
						a(ui-sref="equipment" translate) Equipamentos
						ul
							li
								a(ui-sref="equipment({'#': 'dustduino'})" translate) DustDuino
							li
								a(ui-sref="equipment({'#': 'maedagua'})" translate) Mãe d'Água
					li(ng-controller="AuthCtrl")
						a(ui-sref="login" ng-hide="token" translate) Entrar
						a(ui-sref="account" ng-show="token") 
							span(translate) Minha conta 
							span.icon-chevron-down
						ul.account(ng-show="token")
							li
								a(ui-sref="admin" ng-show="token.role == 'admin'" translate) Área administrativa
							li 
								a(ui-sref="account" translate) Editar minha conta
							li 
								a(ui-sref="account.sensors" translate) Sensores assinados
							li 
								a(href="#" ng-click="logout()" translate) Sair 
					li.language-switcher(ng-controller="LanguageCtrl")
						p(ng-click="setLanguage('pt_BR')" ng-class="{'active': lang == 'pt_BR'}") pt
						p(ng-click="setLanguage('en')" ng-class="{'active': lang == 'en'}") en
